body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.list {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 10px;                 
    min-height: 100vh;  
}

.list img {
    width: 130px;
    height: auto;
    border-radius: 6px;
}

.list {
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.list .item {
    transition: .5s;
    filter: brightness(0);
}

.list .item:hover {
    transform: translateZ(200px);
    filter: brightness(1);
}

.list .item:hover + * {
    transform: translateZ(150px) rotateY(40deg);
    filter: brightness(0.6);
}

.list .item:hover + * + * {
    transform: translateZ(70px) rotateY(20deg);
    filter: brightness(0.4);
}

.list .item:hover + * + * + * {
    transform: translateZ(30px) rotateY(10deg);
    filter: brightness(0.2);
}

.list .item:has(+ *:hover) {
    transform: translateZ(150px) rotateY(-40deg);
    filter: brightness(0.6);
}

.list .item:has(+ * + *:hover) {
    transform: translateZ(70px) rotateY(-20deg);
    filter: brightness(0.4);
}

.list .item:has(+ * + * + *:hover) {
    transform: translateZ(30px) rotateY(-10deg);
    filter: brightness(0.2);
}